<!--Page Wrapper-->
<div class="container">
	<!--Title Bar-->
	<div id="TopBar" class="row d-flex justify-content-start pt-2">
		<div class="col">
			<a href="#" class="d-flex flex-row justify-content-start align-items-center">
				<i class="fas fa-paw fs-3"></i>
	
				<p class="fs-3 p-0 ps-3 m-0">{{ title }}</p>
			</a>
		</div>
		
		<div class="col-3">
			<form class="d-flex">
				<input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
				
				<button class="btn btn-outline-success" type="submit">
					<i class="fas fa-search"></i>
				</button>
			</form>
		</div>
	</div>

	<main class="row">
		<nav class="col">
			<ul class="list-unstyled">
				<li>
					<a href="#" class="text-decoration-none d-flex flex-row justify-content-start align-items-center">
						<i class="fas fa-home"></i>

						<p class="fs-5 p-0 ps-2 m-0">
							Home
						</p>
					</a>
				</li>

				<li>
					<a href="#" class="text-decoration-none d-flex flex-row justify-content-start align-items-center">
						<i class="fas fa-envelope"></i>

						<p class="fs-5 p-0 ps-2 m-0">
							Messages
						</p>
					</a>
				</li>

				<li>
					<a href="#" class="text-decoration-none d-flex flex-row justify-content-start align-items-center">
						<i class="fas fa-user"></i>

						<p class="fs-5 p-0 ps-2 m-0">
							Profile
						</p>
					</a>
				</li>

				<li>
					<a href="#" class="text-decoration-none d-flex flex-row justify-content-start align-items-center">
						<i class="fas fa-cog"></i>

						<p class="fs-5 p-0 ps-2 m-0">
							Settings
						</p>
					</a>
				</li>	
			</ul>
		</nav>

		<div id="BodyWrapper" class="col">

		</div>
	</main>
</div>